<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>oSpio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style type="text/css">
    	[class^="toggle-column"] {
			  box-shadow: 0 0 1em green;
			}

			[class^="toggle-column"]:not(:checked) {
			  box-shadow: 0 0 1em red;
			}
			.toggle-column-1:not(:checked) ~ table td:nth-child(1) {
			  display: none;
			}
			.toggle-column-2:not(:checked) ~ table td:nth-child(2) {
			  display: none;
			}
			.toggle-column-3:not(:checked) ~ table td:nth-child(3) {
			  display: none;
			}
			.toggle-column-4:not(:checked) ~ table td:nth-child(4) {
			  display: none;
			}
			.toggle-column-5:not(:checked) ~ table td:nth-child(5) {
			  display: none;
			}
			.toggle-column-6:not(:checked) ~ table td:nth-child(6) {
			  display: none;
			}
			.toggle-column-7:not(:checked) ~ table td:nth-child(7) {
			  display: none;
			}
			.toggle-column-8:not(:checked) ~ table td:nth-child(8) {
			  display: none;
			}
			.toggle-column-9:not(:checked) ~ table td:nth-child(9) {
			  display: none;
			}
			.toggle-column-10:not(:checked) ~ table td:nth-child(10) {
			  display: none;
			}
			.toggle-column-11:not(:checked) ~ table td:nth-child(11) {
			  display: none;
			}
			.toggle-column-12:not(:checked) ~ table td:nth-child(12) {
			  display: none;
			}
			.toggle-column-13:not(:checked) ~ table td:nth-child(13) {
			  display: none;
			}
    </style>
    
</head>
<body onload="init()">
{{!-- <input class="toggle-column-1" type="checkbox" checked> Gala
<input class="toggle-column-2" type="checkbox" checked> System
<input class="toggle-column-3" type="checkbox" checked> Planet
<input class="toggle-column-4" type="checkbox" checked> Metall
<input class="toggle-column-5" type="checkbox" checked> Kristall
<input class="toggle-column-6" type="checkbox" checked> Deuterium
<input class="toggle-column-7" type="checkbox" checked> Flotten
<input class="toggle-column-8" type="checkbox" checked> Verteidigung
<input class="toggle-column-9" type="checkbox" checked> Summe Heute
<input class="toggle-column-10" type="checkbox" checked> Summe Schnitt
<input class="toggle-column-11" type="checkbox" checked> Zeit
<input class="toggle-column-12" type="checkbox" checked> Spieler
<input class="toggle-column-13" type="checkbox" checked> Planetenname
 --}}

    {{{body}}}


<script type="text/javascript">
	const init = () => {
		document.querySelectorAll("input[type='checkbox']").forEach(input => {input.addEventListener('change', saveFilter)});
		document.getElementById("submitFilter").addEventListener('click', doFilter);
		loadLocal();
		updateForm();
	};


	const saveFilter = () => {
		let filterState = [];
		document.querySelectorAll("input[type='checkbox']").forEach(input => {
			let filterEntry = {};
			filterEntry.className = input.classList.value;
			filterEntry.isChechecked = input.checked;
			filterState.push(filterEntry);
		});
		// console.dir(filterState);
		saveLocal(filterState)
	};


	const saveLocal = (state) => {
		let saveStr = JSON.stringify(state);
		localStorage.setItem('filterState',saveStr);
	};

	const loadLocal = () => {
		let loadStr = localStorage.getItem('filterState');
		if(loadStr===null) return;
		updateFilterState( JSON.parse(loadStr) );
	};

	const updateFilterState = (newState) => {
		for(let n in newState) {
			if(newState[n].isChechecked!=null||false) {
				document.querySelector("."+newState[n].className).checked = (newState[n].isChechecked==true);
			};
		}
	};

	const doFilter = (event) => {
		event.preventDefault();
		let nFilter = [];
		document.getElementById("filterForm").querySelectorAll('input').forEach( 
			e => { 
				if(e.value||false) {
					nFilter.push({id:e.id,value:e.value});
				}
			}
		);
		console.dir(nFilter);
		document.location.search = "?"+nFilter.map( e => { return `${e.id}=${e.value}`; } ).join("&");
	};

	const updateForm = () => {
		let fValus = document.location.search.replace(/^\?/,"").split("&");
		for(let f in fValus) {
			let keyval = fValus[f].split("=");
			document.getElementById(keyval[0]).value = keyval[1];
		}
	};
</script>
</body>
</html>