{{!-- <dir class="row">
  <div class="col">
    <input class="form-check-input toggle-column-1" type="checkbox" id="toggle-1" checked>
    <label class="form-check-lable" for="toggle-1">Gala </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-2" type="checkbox" id="toggle-2" checked>
    <label class="form-check-lable" for="toggle-2">System </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-3" type="checkbox" id="toggle-3" checked>
    <label class="form-check-lable" for="toggle-3">Planet </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-4" type="checkbox" id="toggle-4" checked>
    <label class="form-check-lable" for="toggle-4">Metall </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-5" type="checkbox" id="toggle-5" checked>
    <label class="form-check-lable" for="toggle-5">Kristall </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-6" type="checkbox" id="toggle-6" checked>
    <label class="form-check-lable" for="toggle-6">Deuterium </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-7" type="checkbox" id="toggle-7" checked>
    <label class="form-check-lable" for="toggle-7">Flotten </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-8" type="checkbox" id="toggle-8" checked>
    <label class="form-check-lable" for="toggle-8">Verteidigung </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-9" type="checkbox" id="toggle-9" checked>
    <label class="form-check-lable" for="toggle-9">Summe Heute </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-10" type="checkbox" id="toggle-1"  checked>
    <label class="form-check-lable" for="toggle-10"> Summe Schnitt </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-11" type="checkbox" id="toggle-11"  checked>
    <label class="form-check-lable" for="toggle-11"> Zeit </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-12" type="checkbox" id="toggle-12"  checked>
    <label class="form-check-lable" for="toggle-12"> Spieler </label>
  </div>
  <div class="col">
    <input class="form-check-input toggle-column-13" type="checkbox" id="toggle-13"  checked>
    <label class="form-check-lable" for="toggle-13"> Planetenname </label>
  </div>
</dir> --}}
<form id="filterForm">
  <div class="row">
    <div class="col">
      <label for="gala">Gala</label>
      <input type="number" name="gala" id="gala" class="form-control">
    </div>
    <div class="col">
      <label for="minsystem">Sys Min</label>
      <input type="number" name="minsystem" id="minsystem" class="form-control">
    </div>
    <div class="col">
      <label for="maxsystem">Sys Max</label>
      <input type="number" name="maxsystem" id="maxsystem" class="form-control">
    </div>
    <div class="col">
      <label for="maxfleet">Fleet Max</label>
      <input type="number" name="maxfleet" id="maxfleet" class="form-control">
    </div>
    <div class="col">
      <label for="maxdef">Deff Max</label>
      <input type="number" name="maxdef" id="maxdef" class="form-control">
    </div>
    <div class="col">
      <label for="minallres">Ress Min</label>
      <input type="number" name="minallres" id="minallres" class="form-control">
    </div>
    <div class="col">
      <label for="minmetall">Metall Min</label>
      <input type="number" name="minmetall" id="minmetall" class="form-control">
    </div>
    <div class="col">
      <label for="minkristall">Kristall Min</label>
      <input type="number" name="minkristall" id="minkristall" class="form-control">
    </div>
    <div class="col">
      <label for="mindeuterium">Deuterium Min</label>
      <input type="number" name="mindeuterium" id="mindeuterium" class="form-control">
    </div>
    <div class="col">
      <label for="maxdays">Days Max</label>
      <input type="number" name="maxdays" id="maxdays" class="form-control">
    </div>
    <div class="col">
      <label for="limit">Limit</label>
      <input type="number" name="limit" id="limit" class="form-control">
    </div>
    <div class="col">
      <label for="fotInput">_-+-_/--'=-==>==></label>
      <button class="btn btn-success" id="submitFilter">Filter</button>
    </div>
  </div>
</form>
<hr>

<input class="toggle-column-1" type="checkbox" checked> Gala
<input class="toggle-column-2" type="checkbox" checked> System
<input class="toggle-column-3" type="checkbox" checked> Planet
<input class="toggle-column-4" type="checkbox" checked> Metall
<input class="toggle-column-5" type="checkbox" checked> Kristall
<input class="toggle-column-6" type="checkbox" checked> Deuterium
<input class="toggle-column-7" type="checkbox" checked> Flotten
<input class="toggle-column-8" type="checkbox" checked> Verteidigung
<input class="toggle-column-9" type="checkbox" checked> Summe Heute
<input class="toggle-column-10" type="checkbox" checked> Summe Schnitt
<input class="toggle-column-11" type="checkbox" checked> Zeit
<input class="toggle-column-12" type="checkbox" checked> Spieler
<input class="toggle-column-13" type="checkbox" checked> Planetenname



<table class="table">
  <thead>
    <tr>
      <td id="Gala">Gala</td>
      <td id="System">System</td>
      <td id="Planet">Planet</td>
      <td id="Metall">Metall</td>
      <td id="Kristall">Kristall</td>
      <td id="Deuterium">Deuterium</td>
      <td id="Flotten">Flotten</td>
      <td id="Verteidigung">Verteidigung</td>
      <td id="SummeHeute">Summe Heute</td>
      <td id="DurchschnittZuletzt">Durchschnitt zuletzt</td>
      <td id="Zeit">Zeit</td>
      <td id="Spieler">Spieler</td>
      <td id="Planetenname">Planetenname</td>
    </tr>
  </thead>
{{#each spioList}}
  <tr>
    <td>{{Gala}}</td>
    <td>{{System}}</td>
    <td>{{Planet}}</td>
    <td>{{korm Metall}}</td>
    <td>{{korm Kristall}}</td>
    <td>{{korm Deuterium}}</td>
    <td>{{korm Flotten}}</td>
    <td>{{korm Verteidigung}}</td>
    <td class="mx-auto">{{korm sumHeute}}</td>
    <td class="mx-auto">{{korm avgLasts}}</td>
    <td>{{timeSince Time}}</td>
    <td>{{Player}}</td>
    <td>{{Planetname}}</td>
  </tr>
{{/each}}
</table>